.footer{
  background:linear-gradient( rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8)100%),url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  font-family: 'Vidaloka', serif;

  &__logo{
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 1);
    margin-bottom: 1rem;
  }

  &__section{
    flex: 1; padding: 10rem;
    position: relative;
    border: 1px solid $color-grey-dark;
    border-left: none;
    text-align: center;

    &__quote{
      font-size: $default-font-size;
      padding: 5rem 2rem 2rem 2rem;

      &__author{
        font-size: $default-font-size;
      }
    }
    &__title{
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    &__ul{
      font-size: $default-font-size;
      list-style: none;
      padding: 0 2rem 0 2rem;

      &__li{
        padding: .5rem;

        &__a{
          text-decoration: none;
          color: inherit;
          transition: all .3s;

          &:hover{
            color: $color-primary;
          }
        }
      }
    }

    &__form{
      padding: 1rem;

      &__input{
        background-color: white;
        padding: 1rem 2rem;
        font-size: $default-font-size;
        border-radius: 5px;
        color: $color-grey-dark;
        margin-bottom: 1.5rem;
      }

      &__button{
        padding: 1rem 3rem;
        color: inherit;
        font-size: $default-font-size;
        @include bg-linear-gradient-3;
        border-radius: 5px;

        &:hover{
          @include bg-linear-gradient-4;
          cursor: pointer;
        }
      }
    }
  }

  &__text{
    font-size: $default-font-size;
    padding: 0 2rem 0 2rem;
  }


  &__bottom{
    background-color: black;
    text-align: center;
    padding: .5rem;

    &__text{
      color: white;
      font-size: 1.6rem;
      font-family: 'lobster', cursive;
      letter-spacing: 2px;
      padding: 1rem 0 0 0;
    }
  }

}