.footer{
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  font-size: 2rem;
  font-weight: 500;
  width:100%;
  padding: 3rem 0 6rem 0;


  &__logo{
    font-size: 10rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0 3rem 0;
    color: white;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 1);

  }


  &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;

    &-item{
      display: inline-block;
      text-align: center;
      &-link{
        &:link,
        &:visited{
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          backface-visibility: hidden;
          letter-spacing: .2rem;
          transition: all .4s;
        }
      }

      &:not(:last-child){
        margin-right: 3rem;
      }

      &:hover &-link{
        transform: scale(1.2) rotate(-5deg);
        //background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
        //-webkit-background-clip: text;
        color: white;
      }

    }
  }

  &__bottom{
    background-color: midnightblue;
    text-align: center;
    padding: 1rem;

    &__text{
      color: white;
      font-size: 2rem;
      font-family: 'lobster', cursive;
      letter-spacing: 2px;
      padding: 1rem 0 0 0;
    }
  }

}