.header{
  height: 95vh;
  position: relative;
  background-image:
          linear-gradient(to top right, rgba($color-primary,.8), rgba($color-primary-dark, .8)),
          url("../img/office.jpg");
  background-size: cover;
  background-position: top;


  &__text-box{
    @include absCenter;
    text-align: center;

  }
}