.header{
  height: 100vh;
  position: relative;
  background-image:
          linear-gradient(to top right, rgba($color-primary,.8), rgba($color-primary-dark, .8)),
          url("../img/office.jpg");
  background-size: cover;
  background-position: top;

  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);


  @include respond(tab-land) {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  }

  &__text-box{
    @include absCenter;
    text-align: center;
  }
}