@mixin bg-linear-gradient{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, $color-primary, $color-primary-dark-3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, $color-primary, $color-primary-dark-3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin bg-linear-gradient-2{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, $color-primary-2, $color-primary-dark-2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, $color-primary-2, $color-primary-dark-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin bg-linear-gradient-3{
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin bg-linear-gradient-4{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

@mixin absCenter2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix{
  &::after{
    content: '';
    display: table;
    clear: both;

  }
}

// media queries
@mixin respond($breakpoint){
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {    // 600px
      @content
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and  (max-width: 62.5em) {   // 1000px
      @content
    }
  }

  @if $breakpoint == tab-land{
    @media only screen and  (max-width: 75em) {    // 1200px
      @content
    }
  }

  @if $breakpoint == big-desktop{
    @media only screen and  (min-width: 112.5em) { //1800px
      @content
    }
  }
}