@mixin bg-linear-gradient{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, $color-primary, $color-primary-dark-3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, $color-primary, $color-primary-dark-3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin bg-linear-gradient-2{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, $color-primary-2, $color-primary-dark-2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, $color-primary-2, $color-primary-dark-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

@mixin absCenter2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix{
  &::after{
    content: '';
    display: table;
    clear: both;

  }
}