$color-primary:#00dbde;
$color-primary-dark: #fc00ff;


$color-white: #fff;
$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eeeeee;

$default-font-size: 1.6rem;
$task-font-size: 1.8rem;

$color-grey-dark: #777;

