$color-primary:#00dbde;
$color-primary-dark: #FF1CAE;
$color-primary-dark-3: #1A2980;

$color-primary-2:#F45C43;
$color-primary-dark-2: #EB3349;

$color-primary-3: #061161;
$color-primary-dark-4:#780206;




//$color-primary-dark: purple;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eeeeee;

$default-font-size: 1.6rem;
$task-font-size: 1.7rem;

$color-grey-dark: #777;


