<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">	
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="/css/icon-fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

</head>
<body>
	        <div class="form-popup" id="create-task-form">
            <form class="form" th:object="${task}" th:action="@{/create-task/}" method="post">
                <div class="form__header">
                    <h2 class="heading__secondary text-center margin-bottom-small">
                        Create New Task
                    </h2>
                </div>
                <div class="row margin-bottom-small">


                    <div class="col-lg-6 col-md-12">

                        <div class="form__group new-task-title">
                            <label for="new-task-title" class="form__label">Task Title</label>
                            <input th:field="*{title}" type="text" class="form__input" placeholder="Javascript" id="new-task-title">
                        </div>

                        <div class="form__textarea new-description">
                            <textarea th:field="*{detail}" name="task-descrip" id="new-description" placeholder="Task Description ..." cols="50" rows="8" maxlength="500"></textarea>
                            <label for="new-description"></label>
                        </div>

                    </div>


                    <div class="col-lg-6 col-md-12">


                        <div class="form__group new-date-created">
                            <label for="new-date-created" class="form__label">Date Created</label>
                            <input th:field="*{createdDate}" type="text" class="form__input" placeholder="March 2 2018" id="new-date-created">
                        </div>

                        <div class="form__group new-due-date">
                            <label for="new-due-date" class="form__label">Due Date</label>
                            <input th:field="*{dueDate}" type="text" class="form__input" placeholder="March 9 2018" id="new-due-date">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="button-primary button-primary-light create-task">Confirm</button>
                        <a href="http://localhost:8080/" class="button-primary button-primary-dark cancel-new-task">Go Back</a>
                    </div>
                </div>
            </form>
        </div>
	
</body>