<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">	
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="/css/icon-fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

</head>
<body>
<div class="form-popup" id="task-form">
            <div class="form">
                <div class="form__header">
                    <h2 class="heading__secondary text-center margin-bottom-small">
                        Edit Task
                    </h2>
                </div>
                <div class="row margin-bottom-small">


                    <div class="col-lg-6 col-md-12">

                        <div class="form__taskId taskId">
                            <label for="taskId" class="form__label">Task Id</label>
                            <input type="text" class="form__input" placeholder="Task Id" id="taskId">
                        </div>

                        <div class="form__group task-title">
                            <label for="task-title" class="form__label">Task Title</label>
                            <input type="text" class="form__input" placeholder="MongoDb" id="task-title">
                        </div>

                        <div class="form__textarea description">
                            <textarea name="task-descrip" id="description" cols="50" rows="8" maxlength="500">Task Description ...</textarea>
                            <label for="description"></label>
                        </div>

                    </div>


                    <div class="col-lg-6 col-md-12">


                        <div class="form__group date-created">
                            <label for="date-created" class="form__label">Date Created</label>
                            <input type="text" class="form__input" placeholder="Date Assigned" id="date-created" required>
                        </div>

                        <div class="form__group due-date">
                            <label for="due-date" class="form__label">Due Date</label>
                            <input type="text" class="form__input" placeholder="Due Date" id="due-date" required>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#task-list"><button class="button-primary button-primary-light update-task">Confirm</button></a>
                        <a href="#task-list"><button class="button-primary button-primary-dark">Cancel</button></a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>