*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

a{
  color: white;
  text-decoration: none;
}

html{
  // base font size will be 10
  // 16 * 62.5% = 10
  // the value of 10 will be used with rem all over the page
  font-size: 62.5%;

  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $color-grey-light-2;
}