.absCenter{
  @include absCenter;
}


.margin-bottom-large{
  margin-bottom: 8rem;
}

.margin-bottom-medium{
  margin-bottom: 6rem;
}

.margin-bottom-small{
  margin-bottom: 4rem;
}

.margin-top-large{
  padding-top: 30rem;
}