.button-primary{
  padding: 1.6rem 6rem;
  font-size: 1.8rem;
  color: white;
  border-radius: 30rem;

  margin: 1rem;
  box-shadow: 0 1rem 2rem rgba($color-black, .4);
  transition: all .1s;
  backface-visibility: hidden;

  &:hover{
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 2rem 4rem rgba($color-black, .4);
    cursor: pointer;
  }

  &:active{
    transform: translateX(-3px) scale(1);
    cursor: pointer;
  }

  &:focus{
    outline: 0;
  }

  &-light{
    @include bg-linear-gradient;
  }

  &-dark{
    @include bg-linear-gradient-2;
  }
}

.button-secondary{
  padding: 2rem 10rem;
  font-size: 3rem;
  color: white;
  border-radius: 30rem;

  margin: 3rem auto;
  display: block;
  box-shadow: 0 1rem 2rem rgba($color-black, .4);
  transition: all .1s;
  backface-visibility: hidden;

  &:hover{
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 2rem 4rem rgba($color-black, .4);
    cursor: pointer;
    text-decoration: none;
  }

  &:active{
    transform: translateX(-3px) scale(1);
    cursor: pointer;
  }

  &:focus{
    outline: 0;
  }

  &-light{
    @include bg-linear-gradient;
  }

  &-light-2{
    @include bg-linear-gradient-4;
  }
}