.user-list{
  transition: all .3s;
  padding: 3rem;
  position: relative;
  backface-visibility: hidden;

  &__item{
    background-color: rgba($color-white, .7);
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    height:auto;
    margin: .2rem;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    transition: all .3s;
    position: relative;
    padding:4rem;

    @include respond(tab-land) {
      margin: .1rem;
      padding:3rem;
    }

    @include respond(tab-port) {
      margin: 0;
      padding:2rem;
    }

    &-icon{
      font-size: 6rem;
      display: inline-block;
      padding: 1rem;
      background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
      -webkit-background-clip: text;
      color: transparent;
      position: absolute;
      left: 1rem;
      top: 1rem;

      @include respond(tab-land) {
        font-size: 5rem;
        padding: .8rem;
        left: .2rem;
        top: .2rem;
      }

      @include respond(tab-port) {
        font-size: 4rem;
        padding: .6rem;
        left: .1rem;
        top: .1rem;
      }
    }

    &:hover{
      transform: translateY(-1.3rem) scale(1.01);
    }

  }

  &__name{
    font-size: 2.2em;
    padding-top: 1.3rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-land) {
      font-size: 2rem;
    }

    @include respond(tab-port) {
      font-size: 2.2rem;
    }
  }

  &__user-id{
    font-size: 1.7rem;
    text-transform: uppercase;
    padding-top: .6rem;
    padding-bottom: 1.4rem;

    @include respond(tab-land) {
      font-size: 1.5rem;
      padding-bottom: 1.2rem;
    }


  }

  &__assigned-date, &__task-title, &__due-date{
    font-size: $default-font-size;
    font-weight: bold;
    text-transform: uppercase;

    @include respond(tab-land) {
      font-size: 1.5rem;
    }

  }

  &__assigned-date{
    color: $color-primary;
  }

  &__due-date{
    color: $color-primary-dark-2;
  }

  &__task-desc{
    font-size: $default-font-size;
  }

}