.section-task{
  padding: 80rem 0 12rem 0;
  background-color: $color-grey-light-2;
  margin-top: -75rem;
  width: 100%;

  @include respond(tab-port) {
    padding: 80rem 5rem 12rem 5rem;
  }
}

.section-user{
  padding: 10rem 0 10rem 0;
  background-color: $color-grey-light-2;
  background-image:
          linear-gradient(to top right, rgba($color-primary-dark,.9), rgba($color-primary, .7)),
          url("../img/office2.jpg");
  //background-image: url("../img/office2.jpg");
  background-size: cover;

  @include respond(tab-port) {
    padding: 10rem 5rem 15rem 5rem;
  }
}
