.section-task{
  padding: 31rem 0 60rem 0;
  background-color: $color-grey-light-2;
  margin-top: -22rem;
}

.section-user{
  padding: 40rem 0 25rem 0;
  margin-top: -64rem;
  background-color: $color-grey-light-2;
  background-image:
          linear-gradient(to top right, rgba($color-primary,.8), rgba($color-primary-dark, .8)),
          url("../img/office2.jpg");
  background-size: cover;

  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);


}