.section-task{
  padding: 80rem 0 12rem 0;
  background-color: $color-grey-light-2;
  margin-top: -75rem;
  width: 100%;

  //@include respond(tab-port){
  //  margin-top: -26rem;
  //}
}

.section-user{
  padding: 10rem;
  padding-bottom: 15rem;
  background-color: $color-grey-light-2;
  background-image:
          linear-gradient(to top right, rgba($color-primary,.8), rgba($color-primary-dark, .8)),
          url("../img/office2.jpg");
  background-size: cover;

  //clip-path: polygon(0% 15%, 100% 0, 100% 100%, 0 100%);
}
